:root{
    --primary-color:#7997A6;
    --oj-color:#5DA800;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x:hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #050505; /* Gold accent color */
    margin-bottom: 10px;
}

nav{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
    position:sticky;
    top: 0;
    z-index: 100;
    background:#fff;
    box-shadow: 5px 2px 2px #ddd;
}
nav i{
    color:olive;
}
.hambuger-bar{
    display:none;
    flex-direction: column;
    width: 50px;
    height: 30px;
    border-radius: 3px;  
    padding: 5px 10px;
    cursor: pointer;
    
}
.hambargur-line{
    height: 2px;
    border: 1px solid #000;
    margin: 2px;
}
.hambargur-line:nth-child(1),.hambargur-line:nth-child(3){
    width:70%;
    
}
.hambuger-bar.active .hambargur-line:nth-child(1){
    transform: translateY(11px) rotate(45deg);
    margin-top: 0;
}
.hambuger-bar.active .hambargur-line:nth-child(2){
    opacity: 0;
    
}
.hambuger-bar.active .hambargur-line:nth-child(3){
    transform: translateX(0) rotate(-45deg);
    margin-bottom: 5px;
    
}
.menu{
    display:none;
}
.hover-element-decription{
    display:block;
    position: relative;
    white-space: nowrap;
    background-color: #5f5d5d;
    border-radius: 5px;
    padding:3px; 
    margin-top: 5px;
    width: fit-content;
    left: -50%;
    font-size: small;
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: translateY(5px);
    display:none;
}
.hambuger-bar:hover .hover-element-decription{
    display:block;
    transition: .8s ease-in-out;
}

.search-bar,.cart-icon,.sign-up-option,.voice-search,.chart-feed,.upload-feed{
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5pc;
    height: 30px;
    width: fit-content;
    position: relative;
    border: 1px solid #ccc;
}
.cart-icon:hover,.search-icon:hover,.sign-up-option:hover,.voice-search:hover,.chart-feed:hover,.upload-feed:hover,.fa-times:hover{
    background-color:#ddd;
    transition:ease-in-out .3s;
}
.voice-search:hover .hover-element-decription{
    display:block;
    position: absolute;
    transition: .3s ease-in-out;
}
.search-icon:hover .hover-element-decription{
    display: block;
    position:absolute;
    transition: .3s ease-in-out;
}
.chart-feed:hover .hover-element-decription{
    display:block;
    position: absolute;
    transition: .3s ease-in-out;
}
.upload-feed:hover .hover-element-decription{
    display:block;
    position: absolute;
    transition: .3s ease-in-out;
}

.sign-up-option{
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap; /* Prevents the text from breaking into multiple lines */
    max-width: 100px; /* Prevents it from overflowing */
    overflow: hidden; /* Ensures no part leaks outside */
    text-overflow: ellipsis; /* Optional: Adds "..." if it overflows */

}
.sign-up-option a{
    text-decoration: none;
    color: #000;
}
.cart-icon{
    transition: .3s ease-in-out;
}

.cart-icon span{
  background-color:olive; 
  border-radius: 50%; 
  width: 15px;
  height: 15px;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  position: absolute;
  right: -5px;
  top: -5px;
  color:#fff;
}
main{
    display:grid;
    grid-template-columns:1fr 3fr;
}
.left-bar-item-container{
    display: flex;
    flex-direction:column;
}
.left-bar-item-container a{
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5pc;
    padding: 10px 5px;
    margin: 10px;
    padding-left: 10px;
}
.product-decription img{
    width:35px;
    height: 35px;
    border-radius: 50%;
}
.right-bar-item-container{
    display:grid;
     grid-template-columns:repeat(auto-fit,minmax(200px,1fr));  
    justify-content: center;
    align-items: center;
    grid-auto-rows:200px;
    padding: 10px;
   gap: 8px; 
  
}
.items{
    width:150px;
    height:200px;
    word-wrap: break-word;
    text-align: center;
    position: relative;
   text-overflow: ellipsis;
   border-radius: 5px;
   padding:2px;
   margin:5px;
   box-shadow:-2px 3px 5px olive;
}
.items p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px; /* Slightly smaller for descriptions */
    line-height: 1; /* Makes the text more readable */
    color:#a8a7a7;
    margin-top: -5px;
   
}
.fa-heart{
    color:olive;
    position: absolute;
    right: 5%;
    cursor: pointer;
}
.fa-heart:hover{
    color: rgb(154, 154, 100);
}
.product-to-sell{
    width: 100%;
    height: 90%;
    padding-bottom: 10px;
    position: relative;
}
.contact-seller{
    opacity:0;
    position:absolute;
    top: 35%;
    right:25%;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 5px;
    border-radius: 5pc;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fff; 
    flex-grow:0.5;
}
.search-box{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    width: 80%;
}
.search-box input{
    height: 30px;
    outline: none;
    margin: 0;
    padding-left: 5px; 
    border: none;
    width: 100%;
}
.search-icon{
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0 5pc 5pc 0;
    height: 30px;
    width: fit-content;
    position: relative;
    margin: 0;
    border-left: 1px solid #ddd;
}
.search-box .fa-times{
    display:none;
}
.fa-times{
    color: var(--primary-color);
    position:absolute;
    right:8%;
    font-size:30px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    text-align: center;
    padding:0 5px;
}
.product-buttons{
display:flex;
flex-direction: row;
align-items: center;
justify-content:space-around;
white-space: nowrap;
margin-top: 10px;
}
.add-to-cart{
    background:olive;
    padding: 5px;
    border-radius: 3pc;
    border: none;
    cursor: pointer;
}
.add-to-cart:hover{
    background-color: rgb(154, 154, 100);
}
.product-to-sell .product-to-sell-img{
    width:100%;
    height:60%; 
} 
.image-item-container:hover .product-to-sell{
    opacity: .5;
}
.image-item-container:hover .contact-seller{
    opacity: 1;
}
.sidebar{
    position:absolute;
    top:10%;
    /* right: -300px; 
    width: 300px; */
    display: none;
    height: 100vh;
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    padding: 10px;
}

.sidebar.open {
    right: 0;
    display:block;
}

.side-bar-footer{
margin-bottom:30px;
text-align: center;
}
.items-list{
    margin-top: 30px;
}


.close-tag:hover .close-hover-element-decription{
    display: block;
    position:absolute;
    transition: .3s ease-in-out;
}
.close-hover-element-decription{
    background-color:#050505;
    display: none;
    width:75px;
    border-radius: 8px;
    padding: 3px;
    margin-left:70%;
    margin-top:25px;
    color: #fff;
    
}
.fa-close{
    font-size: 30px;
    float: right;
    cursor: pointer;
}
.fa-close:hover{
    color: #5f5d5d
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 90%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-buttons button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

#save-edit {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
}

#close-edit {
    background-color: #f44336;
    color: white;
    border-radius: 4px;
}

@media screen and (max-width:600px){
    main{
        display:block;
    }
.search-bar span {
    display: inline-block; /* Show the search icon */
}

.menu.active{
    display:block;
}
nav{
/*     
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 10px; */
    padding: 10px 20px;
    position:sticky;
    top: 0;
    background:none;
    box-shadow:none;
}

.hambuger-bar{
    display:flex;
    flex-direction: column;
    width: 50px;
    height: 30px;
    border-radius: 3px;  
    padding: 5px 10px;
    cursor: pointer; 
    background-color: #ddd;  
}
.cart-icon{
    background-color: #ddd;
}
 .voice-search,.chart-feed,.left-bar-item-container,.search-box input,.sign-up-option,.upload-feed,.box{
    display: none;
 }
 .right-bar-item-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
}