py<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chart</title>
    <link rel="stylesheet" href="chart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <h3>See   different buyers and sellers online </h3>
    <div class="main-container">
        <div class="img-conatiner">
            <img src="photos/covenant.jpg" alt="image">
            <div class="img-descrption">
                 <p>OJ Electronics</p> 
                 <div class="product-description-icons">
                    <a href="Messages.html"><i class="fab fa-facebook-messenger"></i> Message</a><br>
                    <a href="#"><i class="fa fa-shopping-bag"></i> Products</a>
                 </div>
                
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="img-conatiner">
            <img src="photos/vans.jpg" alt="image">
            <div class="img-descrption">
                 <p>OJ Electronics</p> 
                 <div class="product-description-icons">
                    <a href="Messages.html"><i class="fab fa-facebook-messenger"></i> Message</a><br>
                    <a href="#"><i class="fa fa-shopping-bag"></i> Products</a>
                 </div>
                
            </div>
        </div>
    </div>
</body>
</html>