<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="message.css">
</head>
<body>
    <div class="sender-section">
        <p>Lorem ipsum dolor sit amet <br>
            consectetur adipisicing elit. <br>
            Eius sit quisquam laboriosam quasbr <br>
             maiores distinctio accusantium nisi, <br>
              expedita et quibusdam minus maxime, <br>
               nobis numquam mollitia aut, <br>
             voluptatibus temporibus minima ex!</p>
    </div>
    <div class="receiver-section">
        <p>Lorem ipsum dolor sit  
            amet consectetur adipisicing elit. <br>
            Consequuntur velit numquam 
            possimus dolorem dolor? Eius 
            est tenetur rerum nisi libero 
            doloremque molestias a ex dicta et <br>
             praesentium esse, accusamus quam? </p>
    </div>
    
</body>
</html>