<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <div class="main-container">
        <div class="img-conatiner">
            <img src="photos/covenant.jpg" alt="image">
            <div class="img-descrption">
                 <p>OJ Electronics</p> 
                 <div class="product-description-icons">
                    <button id="dlt-btn"><i class="fa fa-trash"></i> Delete account</button><br>
                    <button id="edit-btn"><i class="fa fa-edit"></i> Edit account</button>
                 </div>
            </div>
        </div>
       
    </div>
    <h3>Your products</h3>
    
    <div class="pictures-container">
        <div class="pictures"> <img src="photos/airfoce.jpg" alt="arforce">
            <span>Airforce</span> <span>K30,00</span>
             <p>uploaded 3 weeks ago</p>
             <button>Delete</button><button>edit</button> 
        </div>
       <div class="pictures"><img src="photos/black-chair.jpg" alt="chair">
        <div class="pictures-discription">
            <span>chair</span> <span>K30,00</span>
        <p>uploaded 1 week ago</p> 
        <button>Delete</button><button>edit</button>
        </div>
    </div>
       <div class="pictures"><img src="photos/FB_IMG_17274570959353510.jpg" alt="">
        <span>oraimo electronics</span> <span>K30,00</span>
        <p>uploaded 3 hours ago</p> 
        <button>Delete</button><button>edit</button>
    </div>
       <div class="pictures"><img src="photos/checks1.jpg" alt="">
        <span>blue checks</span> <span>K30,00</span>
        <p>uploaded 3 months ago</p> 
        <button>Delete</button><button>edit</button>
    </div> 
    </div>
</body>
</html>